<header class="header">
    <nav class="navbar">
      <h2 class="logo"><a href="#">PMS</a></h2>
      <input type="checkbox" id="menu-toggle" />
      <label for="menu-toggle" id="hamburger-btn">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
          <path d="M3 12h18M3 6h18M3 18h18" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
        </svg>
      </label>
      <ul class="links">
        <li><a href="#">Home</a></li>
        <li>
        <a href="#">Sign Up</a>
      </li>
      </ul>
      <div class="buttons">
        <li *ngIf="loggedIn">
            <a href="#" class="signup"><a routerLink="/register">Sign Up</a></a>
        </li>
        <!-- <li *ngIf="!loggedIn">
            <a class="signin" routerLink="">Login</a>
        </li> -->
        <!-- <li *ngIf="loggedIn">
            <button (click)="Logout()">Logout</button>
        </li> -->
        
      </div>
    </nav>
  </header> 