<body>
    <section class="container">
        <div class="login-container">
            <div class="circle circle-one"></div>
            <div class="form-container">
                <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png" alt="illustration" class="illustration" />
                <h1 class="opacity">REGISTER</h1>
                <form [formGroup]="registerUser" (ngSubmit)="createUser()">
                    <input type="text" placeholder="USERNAME" formControlName="username" />
                    <input type="email" placeholder="EMAIL" formControlName="email" />
                    <input type="password" placeholder="PASSWORD" formControlName="password" />
                    <button class="opacity" type="submit" >SUBMIT</button>
                </form>
                <div class="register-forget opacity">
                    <a href="../login/login.component.html">LOGIN</a>
                </div>
            </div>
            <div class="circle circle-two"></div>
        </div>
        <div class="theme-btn-container"></div>
    </section>
</body>