<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">User Page</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="logoutUser()">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main class="container">
  <h2 class="mb-3">Your Assigned Project</h2>
  <div class="card">
    <div class="card-body text-center" style="height: 80vh; display: flex; flex-direction: column; justify-content: space-evenly;">
      <h5 class="card-title h1">{{ projectData.project_name }}</h5>
      <p class="card-text h3">{{ projectData.project_description }}</p>
      <p class="card-text h6">Due Date: {{ projectData.dueDate | date }}</p>
      <p class="card-text h6">Status: {{ projectData.project_status }}</p>
      <div style="display: flex; flex-direction: row; justify-content: space-evenly;">
        <button class="btn btn-warning" (click)="markInProgress()">In Progress</button>
        <div class="input-group-prepend">
          <div class="input-group-text btn btn-success">
            <label for="completeCheckbox" class="mx-2">Complete</label>
            <input id="completeCheckbox" class="btn btn-success" type="checkbox" aria-label="Checkbox for following text input" [disabled]="projectData.project_status === 'Complete'" (change)="markComplete()">
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
